
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card-fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }

  
  .background-img {
    background-image: url('https://burst.shopifycdn.com/photos/flatlay-iron-skillet-with-meat-and-other-food.jpg?width=1000&format=pjpg&exif=0&iptc=0');
    margin-top: 5px;
    padding-bottom: 10px;
    color: rgb(70, 70, 70);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

  .des-text{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    text-align: center;
    font-style: italic;
    
  }

  .dish-img{
    width: 30rem;
    height: 30rem; 
    object-fit: cover;
    
   
  }

  
  .dish-img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: ease-in-out opacity 0.7s;
    background-color: black;
    
  
  }
  .first-mainpage-img{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30vw;
    height: 20vw;
    border-radius: 4rem;
    left: 40vw;
  }

  .secound-mainpage-img{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30vw;
    height: 20vw;
    border-radius: 4rem;
    right: 40vw;

  }
 

  


  